<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2025/03/17
        이름 : 한결
        내용 : 7장 Spring JAP 실습하기

        #################################################################
        application.properties의 설명
        #JPA Setting
        # - ddl-auto=create : 기존 테이블 삭제 후 다시 생성
        # - ddl-auto=update : 기존 테이블 수정(개발용)
        # - ddl-auto=create : 기존 테이블 내용 삭제되고 다시 설정
        # - ddl-auto=none : 테이블 생성하지 않음(배포용)
        #################################################################
    -->
</head>
<body>
    <h3>7장. Spring JPA</h3>

    <h4>JPA 기본 실습</h4>
    <a th:href="@{/user1/list}">user1 목록</a>
    <a th:href="@{/user2/list}">user2 목록</a>
    <a th:href="@{/user3/list}">user3 목록</a>
    <a th:href="@{/user4/list}">user4 목록</a>
    <a th:href="@{/user5/list}">user5 목록</a>
</body>
</html>